/* =======================================================
* Website Name: Packnow 1.0
* Website URL: www.packnow.com.ng/
* Author: Lagbalu Joseph (Jos33y)
======================================================== */
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bitter|Bree+Serif|Roboto|Roboto+Slab&display=swap");

body {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  color: #474c4c;
  background-color: #f1f5f6;
}

.navbar {
  padding-top: 1.5%;
}

.nav-link {
  font-size: 17px;
  font-weight: 550;
  margin-left: 50px;
  color: #3e4095 !important;
  font-family: "Bree Serif", serif;
}

.nav-link:hover {
  color: #d5dce5 !important;
}

.active .nav-link {
  color: #0e648e !important;
  text-decoration: none;
}

.logo {
  margin-left: 40px;
  width: 40px;
  height: 40px;
}

.logo-name {
  margin-left: 3px;
  font-size: 20px;
  color: #3e4095;
  font-weight: 900;
  font-family: "Bree Serif", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-text {
  margin-left: 10%;
  font-size: 12px;
  color: #3e4095;
}

.navbar-text .fas {
  color: #3e4095;
  font-size: 16px;
}

/** Media Queries **/

@media (max-width: 992px) {

  .nav-link {
    font-size: 15px;
    margin-left: 30px;
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  .logo-name {
    font-size: 15px;

  }

  .navbar-text {
    font-size: 10px;
  }

  .navbar-text .fas {
    font-size: 14px;
  }
}

/** Media Queries Ends **/

.bg-home {
  background-color: #00afef;
  width: 100vw;
  background-size: cover;
}

.style-text {
  padding-top: 17%;
  padding-bottom: 7%;
}

.header-text {
  color: #3e4095;
  font-size: 55px;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 2px;
}

.sub-text {
  margin-top: 5%;
  font-weight: 500;
  font-size: 20px;
}

.style-text .btn {
  margin-top: 7%;
  background-color: #3e4095;
  border-color: #3e4095;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px;
}

.home-image {
  padding-top: 10%;
  height: auto;
  width: 100%;
}

/** Media Queries **/

@media (max-width: 992px) {

  .style-text {
    padding-top: 17%;
    padding-bottom: 7%;
  }

  .header-text {
    font-size: 45px;

  }

  .sub-text {
    margin-top: 5%;
    font-size: 17px;
  }

  .style-text .btn {
    margin-top: 7%;
    background-color: #0fe7dc;
    border-color: #0fe7dc;
    border-radius: 30px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #64a5ef;
    padding: 15px;
  }


}

@media (max-width: 540px) {

  .style-text {
    padding-top: 17%;
    padding-bottom: 7%;
  }

  .header-text {
    font-size: 37px;

  }

  .sub-text {
    margin-top: 5%;
    font-size: 15px;
  }

  .style-text .btn {
    margin-top: 7%;
    background-color: #0fe7dc;
    border-color: #0fe7dc;
    border-radius: 30px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #64a5ef;
    padding: 15px;
  }


}


/** Media Queries Ends **/

/** Choose Style Section SFirst columns of homepage style **/
.card-col {
  margin-top: 8%;
  margin-bottom: 8%;
}

.first-head {
  color: #3e4095;
  font-size: 50px;
  font-weight: 900;
  font-family: "Bree Serif", serif;
}

.line {
  border: solid 1.5px #00afef;
  margin-bottom: 8%;
}

.card-col .card {
  background: #f1f5f6;
  border: #f1f5f6;
}

.card-col .card-title {
  margin: 3%;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #3e4095;
}

.card-col .card-text {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  color: #3e4095;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card-col .card .btn {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
  background-color: #fff;
  border-color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3e4095;
  padding: 15px;
}

/** Media Queries **/
@media (max-width: 992px) {

  .first-head {
    font-size: 37px;
  }

}

@media (max-width: 760px) {
  .first-head {
    font-size: 35px;
  }

}

@media (max-width: 540px) {
  .first-head {
    font-size: 30px;
  }

}

@media (max-width: 320px) {
  .first-head {
    font-size: 20px;
  }

}

/** Media Queries Ends **/

/** Three column Icon Second Column of homepage style **/
.icons {
  background: #fff;
  margin-top: 8%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.icons .fas {
  color: #3e4095;
  align-items: center;
  margin: 5%;
  font-size: 70px;
}

.icon-head {
  color: #3e4095;
  font-size: 24px;
  margin-top: 8%;
  font-weight: 900;
}

.icon-text {
  color: #474c4c;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1px;
}


/** Media Queries **/
@media (max-width: 992px) {

  .icons .fas {
    font-size: 65px;
  }

  .icon-head {
    font-size: 22px;

  }

  .icon-text {
    font-size: 17px;

  }

}

@media (max-width: 800px) {

  .icons .fas {
    font-size: 60px;
  }

  .icon-head {
    font-size: 18px;

  }

  .icon-text {
    font-size: 15px;

  }


}

/** Media Queries Ends **/

/** Get Inspired Third Column Styles **/
.home-inspire {
  background: #fceed5;
  padding-top: 10%;
  padding-bottom: 5%;
}

.home-inspire-row {
  margin-top: 5%;
}

/** Package Styles Fourth Column **/
.package {
  margin-top: 10%;
  margin-bottom: 8%;
}

.package .btn {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
  margin-left: 5%;
  background-color: #fff;
  border-color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3e4095;
  padding: 20px;
}

/** Media Queries **/

@media (max-width: 760px) {
  .package .btn {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 5%;
    background-color: #fff;
    border-color: #fff;
    border-radius: 30px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0fe7dc;
    padding: 18px;
  }

}

@media (max-width: 540px) {
  .package .btn {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 5%;
    background-color: #fff;
    border-color: #fff;
    border-radius: 30px;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0fe7dc;
    padding: 12px;
  }

}



/** Media Queries Ends **/

/** Frequently Asked Questions Styles **/
.faq {
  background: #e3e4fa;
  margin-bottom: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.faq-head {
  color: #3e4095;
  font-size: 21px;
  font-weight: 550;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
}

.faq-text {
  font-size: 16px;
}

/** Become a Designer Style **/
.designers {
  margin-top: 8%;
  margin-bottom: 3%;
}

.designers .btn {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-left: 5%;
  background-color: #fff;
  border-color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3e4095;
  padding: 20px;
}

.designer-head {
  color: #3e4095;
  font-size: 50px;
  font-weight: 900;
  font-family: "Bree Serif", serif;
  margin-top: 15%;
  margin-bottom: 3%;
}

/** Media Queries **/

@media (max-width: 760px) {
  .designer-head {
    font-size: 40px;
    font-weight: 800;

  }

  .designers .btn {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 5%;
    background-color: #fff;
    border-color: #fff;
    border-radius: 30px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0fe7dc;
    padding: 18px;
  }
}

@media (max-width: 540px) {
  .designer-head {
    font-size: 30px;
    font-weight: 800;

  }

  .designers .btn {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 5%;
    background-color: #fff;
    border-color: #fff;
    border-radius: 30px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0fe7dc;
    padding: 15px;
  }

}



/** Media Queries Ends **/

/** Footer Styles **/

footer {
  margin-top: 5%;
  padding-top: 5%;
  background: #dff1f8;
}

.footer-head {
  color: #3e4095;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Bree Serif", serif;
}

.footer-links {
  font-size: 20px;
  font-weight: 500;
}

.footer-sub {
  color: #3e4095;
  font-size: 25px;
  font-weight: 550;
  letter-spacing: 1px;
  font-family: "Bree Serif", serif;
  margin-top: 15%;
  margin-bottom: 8%;
}

footer .input {
  background-color: #dff1f8;
  border-top: #dff1f8;
  border-right: #dff1f8;
  border-left: #dff1f8;
  border-radius: 0;
  border-bottom: solid 2px #3e4095;
}

::placeholder {
  color: #3e4095;
  font-size: 14px;
}

footer .btn {
  text-align: center;
  margin-left: 2%;
  background-color: #fff;
  border-color: #fff;
  border-radius: 20px;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3e4095;
  padding: 5px;
}

.footer-line {
  margin-top: 10%;
  border: solid 1px #3e4095;
}

.copyright {
  font-size: 13px;
  color: #3e4095;
  padding-bottom: 3%;
}

/** Media Queries **/

@media (max-width: 760px) {
  .footer-head {
    font-size: 18px;
    font-weight: 550;
  }

  .footer-links {
    font-size: 13px;
  }

  .footer-sub {
    font-size: 18px;

  }
}

/** Media Queries Ends **/

/** ABOUT PAGE STYLES **/
.about-image {
  width: 100%;
}

/** about packnow styles **/
.about-packnow {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #121313;
  font-size: 35px;
  font-weight: 800;
  font-family: "Bree Serif", serif;
}

.about-text {
  color: #474c4c;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}



/** Connect Styles **/

hr {
  border: solid 1px;
}

.connect {
  margin-top: 3%;
  margin-bottom: 3%;
  color: #121313;
  font-size: 18px;
  font-weight: 600;
  font-family: "Bree Serif", serif;
}

.social {
  color: #3e4095;
  margin-bottom: 8%;
}

.social li {
  list-style-type: none;
  margin-right: 8%;
  display: inline;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about-brand {
  background: #fceed5;
}

.brand-text {
  margin-top: 20%;
  color: #3e4095;
  font-size: 50px;
  font-weight: 900;
  font-family: "Bree Serif", serif;
}

.note-head {
  margin-top: 3%;
  color: #121313;
  font-size: 30px;
  font-weight: 700;
  font-family: "Bree Serif", serif;
}

.note-text {
  color: #474c4c;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5%;
}

.note-icon .fas {
  color: #3e4095;
  align-items: center;
  margin-top: 5%;
  font-size: 30px;
}

/** Media Queries **/

@media (max-width: 992px) {
  .about-packnow {
    font-size: 35px;
  }

  .about-text {
    font-size: 20px;
  }


  .social li a {
    margin-right: 3%;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: 1px;
  }

}

@media (max-width: 760px) {
  .about-packnow {
    font-size: 32px;

  }

  .about-text {
    font-size: 18px;
  }

  .brand-text {
    font-size: 40px;
  }




}

@media (max-width: 540px) {
  .about-packnow {
    font-size: 30px;

  }

  .social li a {
    margin-right: 3%;
    font-size: 10px;
    font-weight: 550;
    letter-spacing: 1px;
  }

  .about-text {
    font-size: 15px;
  }

  .brand-text {
    font-size: 35px;
  }

  .note-head {
    font-size: 25px;
  }

  .note-text {
    font-size: 15px;

  }
}

@media (max-width: 320px) {
  .about-packnow {
    font-size: 27px;

  }

  .about-text {
    font-size: 14px;
  }

  .brand-text {
    font-size: 30px;
  }

  .note-head {
    font-size: 22px;
  }

  .note-text {
    font-size: 13px;

  }


}

/** Media Queries Ends **/


/** Contact US Style **/
.contact-head {
  color: #474c4c;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 5%;
}

.red-text {
  color: red;
}

.sub-contact {
  color: #474c4c;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 10%;
}

.contact-text {
  color: #474c4c;
  font-size: 14px;
  letter-spacing: 0.5px;
}

a.contact-links {
  color: #121313;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-bottom: 8%;
}

.contact-social li {
  list-style-type: none;
  margin-right: 5%;
  display: inline;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-social {
  margin-bottom: 10%;
}

.contact-form {
  margin: 5%;
}

.contact-form .btn {
  text-align: center;
  margin-bottom: 5%;
  background-color: #fff;
  border-color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #00afef;
  padding: 15px;
}

/** Media Queries **/

@media (max-width: 320px) {
  .about-packnow {
    font-size: 25px;

  }

  .about-text {
    font-size: 14px;
  }

  .brand-text {
    font-size: 30px;
  }

  .note-head {
    font-size: 22px;
  }

  .note-text {
    font-size: 13px;

  }


}

/** Media Queries Ends **/


/** Join Packnow Styles **/
.join-sub {
  font-size: 20px;
  font-family: "Bree Serif", serif;
  margin-bottom: 8%;
}

.join-text {
  font-size: 17px;
}

.label-text {
  font-size: 15px;
}

.join-form {
  border: solid 2px #00afef;
  padding: 10px;
  margin: 8%;
}

.form-margin {
  margin-bottom: 2%;
}

.join .btn {
  text-align: center;
  margin-bottom: 5%;
  background-color: #00afef;
  border-color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px;
}

/** Join Thanks Style **/

.thank-u {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #121313;
  font-size: 25px;
  font-weight: 600;
  font-family: "Bree Serif", serif;
  text-transform: uppercase;
}

.thanks-icon .fas {
  color: #0fe7dc;
  margin-top: 10%;
  font-size: 180px;
  margin-bottom: 10%;
}

.thanks-text {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10%;
}


/** meet designer styles **/
.meet-head {
  margin-top: 5%;
  color: #121313;
  font-size: 20px;
  font-weight: 600;
  font-family: "Bree Serif", serif;
  text-transform: uppercase;
}

.meet-line {
  border: solid 1px #00afef;
}

.meet-form {
  border: solid 2px #00afef;
  padding: 20px;
}

.price {
  font-size: 14px;
  font-weight: 550;
}

.price-no {
  color: pink;
  font-size: 20px;
  font-weight: 500;
  font-family: "Bree Serif", serif;
  text-transform: uppercase;
}

.design {
  font-size: 14px;
  font-weight: 600;
}

.graphic-price {
  color: pink;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.details {
  font-size: 14px;
}

.meet .btn {
  margin-bottom: 5%;
  background-color: #00afef;
  border-color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
}

.risk {
  margin-top: 5%;
  margin-bottom: 10%;
}

.risk-note {
  color: rgb(245, 122, 122);
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.risk-text {
  color: rgb(124, 122, 122);
  font-size: 14px;
  font-weight: 600;
}

/** Privacy Policy Styles **/
.privacy-head {
  margin-top: 20%;
  margin-bottom: 5%;
  color: #3e4095;
  font-size: 45px;
  font-weight: 800;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
}

.sub-privacy {
  margin-top: 5%;
  color: #3e4095;
  font-size: 25px;
  font-weight: 700;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
}

.privacy-text {
  font-size: 19px;
}


/** Inspiration Page Styles **/
.list-boxes {
  margin-top: 5%;

}

.list-boxes .row {
  margin-bottom: 5%;
}

.list-boxes .col-md-3 {
  margin-bottom: 3%;
}


.list-boxes li {
  list-style-type: none;
  margin: 5%;
  display: inline;
}

.list-boxes li button {
  font-weight: 600;
  border: 0px solid;
  font-size: 20px;
  color: #6f7272;
  letter-spacing: 1px;
  background-color: #f1f5f6;
}

.list-boxes li button:hover {
  border: 1px solid #00afef;
}

.list-line {
  border: 1px solid #474c4c;
}

/** Media Queries **/
@media (max-width: 992px) {

  .list-boxes li button {

    font-size: 15px;
  }

  .list-boxes li {
    margin: 3%;
  }
}

@media (max-width: 760px) {

  .list-boxes li button {

    font-size: 14px;
  }

  .list-boxes li {
    margin: 1%;
  }
}

@media (max-width: 540px) {
  .list-boxes li button {

    font-size: 13px;
  }
}

@media (max-width: 320px) {

  .list-boxes li button {

    font-size: 13px;
  }

}

/** Media Queries Ends **/

.featured-artist {
  margin-top: 10%;

}

.featured-artist h3 {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 2%;
}

.artist-img {
  margin-top: 20%;
  width: 150px;
  height: 150px;
}

.artist .col-md-4 {
  margin-bottom: 5%;
}

.artist .card-header {
  width: 100%;
  height: 150px;
  margin-bottom: 20%;
}

.artist .card:hover {
  border: 2px solid #00afef;

}

.artist .card-header.one {
  background-image: url(../img/bg-one.jpg);
  background-color: #e79b0f;

}

.artist .card-header.two {
  background-image: url(../img/bg-two.jpg);
  background-color: #e70fb8;

}

.artist .card-header.three {
  background-image: url(../img/bg-three.jpg);
  background-color: #e79b0f;

}

.artist .card-title {
  margin-top: 5%;
  text-align: center;
  color: #474c4c;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.artist .card-text {
  text-align: center;
  color: #6f7272;
  font-size: 16px;
  margin-bottom: 5%;
}

/** How it Works **/
.be-inspired .btn {
  margin-bottom: 3%;
  background-color: #fff;
  border-color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0fe7dc;
  padding: 15px;
}

.be-inspired {
  margin-top: 8%;
  background: #e3e4fa;
  margin-bottom: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.be-inspired .head {
  text-align: center;
  color: #0fe7dc;
  font-size: 40px;
  font-weight: 550;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
  margin-bottom: 7%;
}

.step {
  color: #3e4095;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.step-head {
  color: #00afef;
  font-size: 30px;
  font-weight: 700;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
  margin-bottom: 3%;
}

.step-line {
  border: 2px dashed #3e4095;
  margin-bottom: 10%;
}


@media (max-width: 540px) {
  .step {

    font-size: 12px;

  }

  .step-head {
    font-size: 27px;
  }

  .be-inspired .btn {
    margin-bottom: 3%;
    background-color: #fff;
    border-color: #fff;
    border-radius: 30px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0fe7dc;
    padding: 13px;
  }

  .be-inspired .head {

    font-size: 30px;
  }





}

@media (max-width: 320px) {
  .step {

    font-size: 8px;

  }

  .step-head {
    font-size: 18px;
  }

  .be-inspired .btn {
    margin-bottom: 3%;
    background-color: #fff;
    border-color: #fff;
    border-radius: 30px;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0fe7dc;
    padding: 10px;
  }

  .be-inspired .head {

    font-size: 18px;
  }





}


/** Media Queries Ends **/